﻿
<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <meta charset="utf-8" />
    @*<script src="~/Scripts/angular.js"></script>*@
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=no" name="viewport" />
    <meta content="Semantic-UI-Forest, collection of design, themes and templates for Semantic-UI." name="description" />
    <meta content="Semantic-UI, Theme, Design, Template" name="keywords" />
    <meta content="PPType" name="author" />
    <meta content="#ffffff" name="theme-color" />
    <title>Semantic-UI-Forest, collection of design, themes and templates for Semantic-UI.</title>
    @*<link href="../../static/dist/semantic-ui/semantic.min.css" rel="stylesheet" type="text/css" />
        <link href="../../static/stylesheets/default.css" rel="stylesheet" type="text/css" />
        <link href="../../static/stylesheets/pandoc-code-highlight.css" rel="stylesheet" type="text/css" />
        <script src="../../static/dist/jquery/jquery.min.js"></script>*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body  ng-app="myapp" style="padding: 0px;">
    <div class="ui inverted huge borderless fixed fluid menu">
        <a class="header item" href="@Url.Action( "Index", "Home")">Gestor de Libreria</a>
        <div class="right menu">
            @*<div class="item">
                <div class="ui small input">
                    <input placeholder="Search..." />
                </div>
            </div>*@
            <a class="item" href="@Url.Action( "Index", "Home")">Inicio</a>
            @*<a class="item">Settings</a>
            <a class="item">Profile</a>
            <a class="item">Help</a>*@
        </div>
    </div>
    <div class="ui grid" style="padding:0px">
        <div class="row">
            <div class="column" id="sidebar">
                <div class="ui secondary vertical fluid menu">
                    <a class="active item" href="@Url.Action( "Index", "Home")">Inicio</a>
                    <a class="item" href="@Url.Action( "Registrar", "Agregar")">Registrar Libro</a>
                    <a class="item">Ver Libros</a>
                    <a class="item">Ver Libros</a>
                    @*<div class="ui hidden divider"></div>
                    <a class="item">Nav item</a>
                    <a class="item">Nav item again</a>
        <a class="item">One more nav</a>
        <a class="item">Another nav item</a>
        <a class="item">More navigation</a>
        <div class="ui hidden divider"></div>
        <a class="item">Macintosh</a>
        <a class="item">Linux</a>
        <a class="item">Windows</a>*@
                </div>
            </div>
            <div class="column" id="content" >
                @RenderBody()
                @*<div class="ui grid">
                    <div class="row">
                        <h1 class="ui huge header">
                            Dashboard
                        </h1>
                    </div>
                    <div class="ui divider"></div>
                    <div class="ui hidden section divider"></div>
                    <div class="row">
                        <h1 class="ui huge header">
                            Section title
                        </h1>
                    </div>
                    <div class="ui divider"></div>
                </div>*@
            </div>
        </div>
    </div>
    <style type="text/css">

        body {
            display: relative;
        }

        #sidebar {
            position: fixed;
            top: 45.8px;
            left: 0;
            bottom: 0;
            width: 18%;
            background-color: #f5f5f5;
            padding: 0px;
        }

            #sidebar .ui.menu {
                margin: 2em 0 0;
                font-size: 16px;
            }

                #sidebar .ui.menu > a.item {
                    color: #337ab7;
                    border-radius: 0 !important;
                }

                    #sidebar .ui.menu > a.item.active {
                        background-color: #337ab7;
                        color: white;
                        border: none !important;
                    }

                    #sidebar .ui.menu > a.item:hover {
                        background-color: #4f93ce;
                        color: white;
                    }

        #content {
            margin-left: 19%;
            width: 81%;
            margin-top: 3em;
            padding-left: 3em;
            float: left;
        }

            #content > .ui.grid {
                padding-right: 4em;
                padding-bottom: 3em;
            }

            #content h1 {
                font-size: 36px;
            }

            #content .ui.divider:not(.hidden) {
                margin: 0;
            }

            #content table.ui.table {
                border: none;
            }

                #content table.ui.table thead th {
                    border-bottom: 2px solid #eee !important;
                }
    </style>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>

@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/Scripts/js")
        @RenderSection("scripts", required: false)
    </body>
    </html>*@