﻿@*<script src="~/assets/js/AngularController/Part2Controller.js"></script>*@

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script>
    function justNumbers(e) {
        var keynum = window.event ? window.event.keyCode : e.which;
        if ((keynum == 8) || (keynum == 46))
            return true;

        return /\d/.test(String.fromCharCode(keynum));
    }

    //function arti() {

    //    $scope.Products.forEach(function (a) {
    //        if (a.CodProducto == $scope.producto) {
    //            $scope.producto1 = a.DescripcionProducto;
    //        }
    //        console.log($scope.producto1);
    //    })
    //}
</script>
@* I will add some css for looks good *@
<style>
    input[type=checkbox] {
        width: 18px;
        height: 18px;
    }

    input[type=radio] {
        width: 15px;
        height: 15px;
    }

    .tableData {
        border-left: solid 1px #D8C3C3;
        border-top: solid 1px #D8C3C3;
    }


    .md-progress-circular {
        left: 199px;
    }

    .tableData tr {
    }


    .tableData td, .tableData th {
        border-right: solid 1px #D8C3C3;
        border-bottom: solid 1px #D8C3C3;
        text-align: left;
        padding: 5px;
    }

    .tableData td {
    }

    .tableData th {
        /*background-color: #FAFAFA;
            padding: 7px 5px;
            border-bottom-color: #9C9C9C;*/
    }

    .odd {
        background-color: #f3f3f3;
    }

    .highlight {
        color: #ff0000;
    }

    .even {
        background-color: #ffffff;
    }

    input[type=text] {
        width: 300px;
        box-sizing: border-box;
    }

    .margin_app {
        margin-left: 20px;
    }

    .box-title {
        font-size: 30px;
    }
    /*

        style="float:left; width: 50%; height:100%; border-right: 1px solid gray;
        */
</style>


<div ng-controller="Ctrl" ng-cloak class="margin_app">

    <div class="box-header with-border ">
        <h2 class="">Buscar / Agregar</h2>
    </div>

    <div class="BuscaProductos col-md-5">
       
        <div id="buscaProductosCampos" class="form-inline" style="margin-top:30px">

            <div class="form-group" style="margin-right:20px">
               
                <b>Titulo:</b>
                <select class="form-control" ng-model="titulo">
                    <option value="value">text</option>
                </select>
               
            </div>
            <div id="ProveedorTextbox" class="form-group">
                
                <b>Categoria:</b>
                <select class="form-control" ng-model="categoria">
                    <option value="value">text</option>
                </select>

            </div>

            <div style="margin-top:25px;" class="form-group">

                <div class="input-group-btn">
                    <button ng-click="search()" type="button" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i>&nbsp; Buscar...</button>
                    <button ng-click="clean('txtAutocomplete')" type="button" class="btn btn-danger"><i class="fa fa-eraser" aria-hidden="true"></i>&nbsp; Limpiar...</button>
                </div>
            </div>
        </div>

        <md-progress-circular ng-show="isLoadingB" md-mode="indeterminate" md-diameter="70" style="left:223px;"></md-progress-circular>

        <div id="tablabuscaProducto" ng-show="!isLoadingB" style="margin-top: 25px">
            <div class="table-responsive" style="height:400px; overflow-y:scroll;" ng-show="Contact.length > 0">
                <table class="table table-bordered table-responsive">
                    <thead class="theadProducto">
                        <tr>
                            <th>Titulo</th>
                            <th>Editorial</th>
                            <th>Categoria</th>
                            <th>Autor</th>
                            <th>Formato</th>
                            <th>Idioma</th> 
                        </tr>
                    </thead>
                    <tbody class="tbodyProducto">
                        <tr ng-click="detail(Contact[$index])" ng-repeat="x in Contact">
                            <td>{{x.CodProducto}}</td>
                            <td>{{x.DescripcionProducto}}</td>
                            <td>{{x.IdUnidadAlmacenaje}}</td>
                            <td>{{x.Disponible}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>
    </div>


    <div class="container">
        <div class="col-md-7">
            <ul class="nav nav-tabs">
                <li class="active"><a class="ColorTab" data-toggle="tab" href="#datos">Registrar Libro</a></li>
                <li><a data-toggle="tab" class="ColorTab" href="#CamposModificables">Editorial</a></li>
                <li><a class="ColorTab" data-toggle="tab" href="#ubicacion">Ejemplar</a></li>
                <li><a class="ColorTab" data-toggle="tab" href="#ubicacion1">Idiomas</a></li>
                <li><a class="ColorTab" data-toggle="tab" href="#ubicacion2">Direccion</a></li>
                <li><a class="ColorTab" data-toggle="tab" href="#ubicacion3">Formato</a></li>
                <li><a class="ColorTab" data-toggle="tab" href="#ubicacion4">Autor</a></li>
            </ul>
            <div class="tab-content" style="margin-top:30px">
                <div id="datos" class="tab-pane fade in active">

                    <form>

                        <div class="form-group">
                            <label for="seccion">Titulo del Libro</label>
                            <input type="text" ng-model="tituloLibro" class="form-control" placeholder="Sección">
                        </div>
                        <div class="form-group">
                            <label for="seccion">Autor:</label>
                            <select class="form-control" ng-model="autorLibro" ng-init="autorLibro = ''">
                                <option value="value">Seleccione</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="seccion">Formato:</label>
                            <select class="form-control" ng-model="formatoLibro" ng-init="formatoLibro = ''">
                                <option value="value">Seleccione</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="seccion">Idioma:</label>
                            <select class="form-control" ng-model="idiomaLibro" ng-init="idiomaLibro = ''">
                                <option value="value">Seleccione</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="seccion"ng-model="editorialLibro" ng-init="editorialLibro = ''">Editorial:</label>
                            <select class="form-control">
                                <option value="value">Seleccione</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="seccion" ng-model="categoriaLibro" ng-init="categoriaLibro = ''">Categoria:</label>
                            <select class="form-control">
                                <option value="value">Seleccione</option>
                            </select>
                        </div>
                    </form>


                </div>
                <div id="ubicacion" class="tab-pane fade">

                    <div class="form-group">
                        <label for="DiasMinimoCaducidad">Nombre Ejemplar:</label>
                        <input type="text" ng-model="Ejemplar" class="form-control" placeholder="Días Mínimo Caducidad">
                    </div>

                    <button ng-show="!isLoading" id="botonActualizar" type="button" ng-click="Actualizar()" class="btn btn-danger"><i class="fa fa-save" aria-hidden="true"></i>&nbsp; Modificar</button>

                </div>
                <div id="ubicacion1" class="tab-pane fade">

                    <div class="form-group">
                        <label for="DiasMinimoCaducidad">Idioma:</label>
                        <input type="text" ng-model="Idioma" class="form-control" placeholder="Días Mínimo Caducidad">
                    </div>

                    <button ng-show="!isLoading" id="botonActualizar" type="button" ng-click="Actualizar()" class="btn btn-danger"><i class="fa fa-save" aria-hidden="true"></i>&nbsp; Modificar</button>

                </div>
                <div id="ubicacion2" class="tab-pane fade">

                    <div class="form-group">
                        <label for="DiasMinimoCaducidad">Direccion:</label>
                        <input type="text" ng-model="Direccion" class="form-control" placeholder="Días Mínimo Caducidad">
                    </div>

                    <button ng-show="!isLoading" id="botonActualizar" type="button" ng-click="Actualizar()" class="btn btn-danger"><i class="fa fa-save" aria-hidden="true"></i>&nbsp; Modificar</button>

                </div>
                <div id="ubicacion3" class="tab-pane fade">

                    <div class="form-group">
                        <label for="DiasMinimoCaducidad">Formato:</label>
                        <input type="text" ng-model="Formato" class="form-control" placeholder="Días Mínimo Caducidad">
                    </div>

                    <button ng-show="!isLoading" id="botonActualizar" type="button" ng-click="Actualizar()" class="btn btn-danger"><i class="fa fa-save" aria-hidden="true"></i>&nbsp; Modificar</button>

                </div>
                <div id="ubicacion4" class="tab-pane fade">

                    <div class="form-group">
                        <label for="DiasMinimoCaducidad">Autor:</label>
                        <input type="text" ng-model="Autor" class="form-control" placeholder="Días Mínimo Caducidad">
                    </div>

                    <button ng-show="!isLoading" id="botonActualizar" type="button" ng-click="Actualizar()" class="btn btn-danger"><i class="fa fa-save" aria-hidden="true"></i>&nbsp; Modificar</button>

                </div>
                <div id="CamposModificables" class="tab-pane fade">

                    <md-progress-circular ng-show="isLoading" md-mode="indeterminate" md-diameter="70" style="left:223px;"></md-progress-circular>
                    <div class="col-md-6" ng-show="!isLoading">


                        <div class="form-group">
                            <label for="DiasMinimoCaducidad">Nombre Editorial:</label>
                            <input type="text" ng-model="Editorial" class="form-control" placeholder="Días Mínimo Caducidad">
                        </div>

                        <button ng-show="!isLoading" id="botonActualizar" type="button" ng-click="InsertEditorial()" class="btn btn-danger"><i class="fa fa-save" aria-hidden="true"></i>&nbsp; Modificar</button>

                    </div>
                    <div class="col-md-6" ng-show="!isLoading">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*@section scripts{
        <script src="~/Scripts/AngularController/Part2Controller.js"></script>

    }*@
